<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="gitbook/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:title" content="QMK Firmware Docs">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The full documentation of the open-source firmware">
    <meta property="og:image" content="https://i.imgur.com/svjvIrw.jpg">
    <meta property="og:url" content="https://docs.qmk.fm">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/cirrus-ui">

    <style>
      .doc-grid {
        display: grid;
        grid-template-columns: 2fr 7fr;
      }
      .doc-grid-internal {
        display: grid;
        grid-template-rows: 100px 5fr;
      }
      .relative {
        position: relative;
      }
      .fixed {
        position: fixed;
        width: fit-content;
        width: 18vw;
      }
      .background {
        background: #eee;
        padding: 1rem;
        margin: 1rem;
      }
      main {
        margin-top: 2.5em;
      }
    </style>
  </head>
  <body>
    <div class="header header-fixed u-unselectable header-animated">
      <div class="header-brand">
        <div class="nav-item no-hover">
          <a>
            <h6 class="title">QMK Docs</h6>
          </a>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header-nav" id="header-menu">
        <div class="nav-left">
          <div class="nav-item text-center">
            <a href="#">
              <span class="icon">
                <i class="fab fa-wrapper fa-github" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <div class="nav-item text-center">
            <a href="#">
              <span class="icon">
                <i class="fab fa-wrapper fa-slack" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <div class="nav-item text-center">
            <a href="#">
              <span class="icon">
                <i class="fab fa-wrapper fa-twitter" aria-hidden="true"></i>
              </span>
            </a>
          </div>
          <div class="nav-item has-sub toggle-hover" id="dropdown">
            <a class="nav-dropdown-link">Animated</a>
            <ul class="dropdown-menu dropdown-animated" role="menu">
              <li role="menu-item">
                <a href="#">First Item</a>
              </li>
              <li role="menu-item">
                <a href="#">Second Item</a>
              </li>
              <li role="menu-item">
                <a href="#">Third Item</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="nav-right">
          <div class="nav-item active">
            <a href="#">Active</a>
          </div>
          <div class="nav-item">
            <a href="#">Link 1</a>
          </div>
          <div class="nav-item has-sub" id="dropdown">
            <a class="nav-dropdown-link">Click Me</a>
            <ul class="dropdown-menu" role="menu">
              <li role="menu-item">
                <a href="#">First Item</a>
              </li>
              <li role="menu-item">
                <a href="#">Second Item</a>
              </li>
              <li role="menu-item">
                <a href="#">Third Item</a>
              </li>
              <li class="dropdown-menu-divider"></li>
              <li role="menu-item">
                <a href="#">Fourth Item</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="doc-grid frame">
        <aside class="relative frame__header background">
          <div class="nested-list fixed" style="overflow: hidden;">
            <h5>Index</h5>
            {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
          </div>
        </aside>
        <div class="doc-grid-internal frame__body background">
          <h1>{{ title }}</h1>
          <aside class="nested-list">
            <h4>Page Contents</h4>
            {{ content | toc | safe }}
          </aside>
          <article>{{ content | safe }}</article>
        </div>
      </main>
    </body>
  </html>